[*.{kt,kts}]
# noinspection EditorConfigKeyCorrectness
# As it's a custom property: https://github.com/pinterest/ktlint#custom-editorconfig-properties
# This is a workaround for https://github.com/pinterest/ktlint/issues/527
ktlint_disabled_rules=import-ordering # IDE first: https://github.com/pinterest/ktlint/issues/527